{% extends 'pagina_principal.html' %}
{% load static %}
{% block content %}
<div class="homepage">
    <div class="formularios">
        <div class="formulario-1">
            <div>
                <h4>Formulario para Pacientes entrantes</h4>
                <a class="btn btn-info" href="{% url 'pagina:paciente-crear' %}">Paciente</a>
                <h4>Mostrar datos</h4>
                <a class="btn btn-info" href="{% url 'pagina:paciente-listado' %}">Lista de pacientes</a>
            </div>
            <div>
                <h4>Formulario para médicos entrantes</h4>
                <a class="btn btn-info" href="{% url 'pagina:medico-crear' %}">Médicos</a>
            
                <h4>Mostrar datos</h4>
                <a class="btn btn-info" href="{% url 'pagina:medico-listado' %}">Lista de médicos</a>
            </div>
        </div>
        <div>
            <h4>Visita Médica</h4>
            <a class="btn btn-info" href="{% url 'pagina:visita' %}">Paciente</a>
    
            <h4>Mostrar datos</h4>
            <a class="btn btn-info" href="{% url 'pagina:visita-listado' %}">Lista de visitas</a>
        </div>
    </div>
</div>
{% endblock content %}