{% extends 'pagina_principal.html' %}
{% load static %}
{% block content %}
<div class="homepage">
    <h1>
        <h1>Nuestra Historia</h1>
    </h1>

    <section id="historia">
        <h2>La Fundación de la Clínica</h2>
        <p>Hace más de cuatro décadas, en el corazón de nuestra ciudad, un grupo de apasionados profesionales médicos decidió unir fuerzas para establecer lo que ahora es conocido como "Clínica La Eterna Primavera". Esta decisión se basó en la firme creencia de que la atención médica de calidad y el bienestar son derechos fundamentales de cada individuo, y que estos principios deberían ser el núcleo de su misión.</p>
    </section>

    <section id="historia">
        <h2>Década de 1980</h2>
        <p>Nuestros humildes comienzos se remontan a 1985, cuando la clínica abrió sus puertas por primera vez en un pequeño edificio en el centro de la ciudad. En ese momento, nuestra dedicación a la atención centrada en el paciente se convirtió en un distintivo que definiría nuestro camino hacia el futuro.</p>
    </section>

    <section id="historia">
        <h2>Década de 1990</h2>
        <p>Con la confianza y el apoyo continuo de nuestra creciente base de pacientes, pudimos expandir nuestras instalaciones y servicios. A lo largo de los años, hemos incorporado especialistas médicos en diversas disciplinas, desde medicina general hasta terapias alternativas.</p>
    </section>

    <section id="historia">
        <h2>Década de 2000</h2>
        <p>La inversión en tecnología de vanguardia nos permitió mejorar aún más la calidad de nuestros servicios. Comenzamos a ofrecer exámenes de laboratorio de última generación y nos adentramos en el campo de la medicina natural y terapias complementarias.</p>
    </section>

    <section id="historia">
        <h2>Década de 2020</h2>
        <p>Hoy en día, Clínica La Eterna Primavera es un centro médico líder en la región, que atiende a una diversa comunidad de pacientes. Nuestra pasión por la medicina, el bienestar y la atención personalizada sigue siendo el corazón de nuestra clínica.</p>
    </section>

    <section id="historia">
        <h2>Nuestro Futuro</h2>
        <p>A lo largo de los años, hemos establecido relaciones duraderas con nuestros pacientes y nos enorgullece haber sido parte de su viaje hacia una vida más saludable y feliz. Nuestra historia es la historia de la dedicación a la salud y el compromiso con el bienestar, y estamos ansiosos por seguir siendo parte de esta historia en los años venideros.</p>
        <p>En "Clínica La Eterna Primavera," te damos la bienvenida para que seas parte de nuestra historia y permitas que cuidemos de tu salud y bienestar.</p>
    </section>

</div>
{% endblock content %}