{% extends 'pagina_principal.html' %}

{% block content %}
<div class="tabla-registro">

    <div class="container-btn regresar">
        <a class="btn btn-light" href="{% url 'pagina:medico-crear' %}">Ingresar nuevo médico</a>
        <a class="btn btn-light" href="{% url 'pagina:paciente-listado' %}">Pacientes</a>
    </div>

    <div>
        <table class="table table-hover table-dark">
            <thead class="text-center align-middle">
                <tr>
                    <td>Nombre</td>
                    <td class="hide-data">Número de colegiado</td>
                    <td>Especialidad</td>
                    <td>Diagnóstico</td>
                    <td>Opciones</td>
                </tr>
            </thead>
            <tbody class="text-center align-middle">
                {% if object_list %}
                {% for medico in object_list %}
                <tr>
                    <td>{{medico.nombre}}</td>
                    <td class="hide-data">{{medico.numero_colegiado}}</td>
                    <td>{{medico.especialidad}}</td>
                    <td>{{medico.diagnostico}}</td>
                    <td>
                        <div class="container-btns">
                            <a class="btn btn-info" href="{% url 'pagina:medico-actualizar' medico.id %}">Editar</a>
                            <a class="btn btn-warning" href="{% url 'pagina:medico-borrar' medico.id %}">Eliminar</a>
                        </div>
                    </td>
                </tr>
                {% endfor %}
                {% else %}
                <tr>
                    <td colspan="5" class="text-center">No hay registros</td>
                </tr>
                {% endif %}
            </tbody>
        </table>
    </div>

</div>


{% endblock content %}