@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap');

:root {
    --primary-100: #3F51B5;
    --primary-200: #757de8;
    --primary-300: #dedeff;
    --accent-100: #2196F3;
    --accent-200: #003f8f;
    --text-100: #333333;
    --text-200: #5c5c5c;
    --bg-100: #FFFFFF;
    --bg-200: #f5f5f5;
    --bg-300: #cccccc;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: var(--text-100);
    font-weight: 600;
}

ul {
    list-style: none;
    padding: 0; 
    margin: 0;
}

body {    
    font-family: 'Playfair Display', serif;
    font-size: 16px;
    background-image: url('../img/fondo.jpeg');
    background-size: cover;
    background-position: 0 -500px;
}

.container {
    padding: 30px 0;
    max-width: 1200px;
    margin: 0 auto;
}

.container-navbar {
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 16px 8px;
    flex: 1;
}

.navbar-left {
    display: flex;
}

.container-btns {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.content {
    display: flex;
    justify-content: center;
}

.btn-container {
    margin: 10px 10px;
    display: flex;
    justify-content: center;
}

.btn {
    border-radius: 30px;
}

.btn-medic {
    color: var(--bg-100);
    background-color: var(--accent-200);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: lightblue;
}

.navbar-mid {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-right  {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-menu {
    display: flex;
}

.navbar-items {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.navbar-item {
    display: flex;
    cursor: pointer;
    padding: 4px 10px;
}



.form {
    min-width: 250px;
    max-width: 400px;
    margin: 0 auto;
}

.form-item {
    display: flex;
    flex-direction: column;
}

.form-control {
    height: 40px;
    padding: 0px 12px;
    margin: 8px 0px;
    border-radius: 16px;
    border: 1px solid var(--accent-100);
    background-color: var(--bg-200);
    font-family: 'Exo 2', sans-serif;
    font-size: 14px;
    outline: none;
    color: var(--accent-200);
    font-weight: 500;
}

.form-control:hover {
    border: 2px solid var(--accent-100);
}



.tabla-registro {
    display: grid;
    gap: 20px;
    justify-content: center;
}



/* ---------------inicio------------ */

.homepage {
    display: flex;
    flex-direction: column;
    gap: 32px;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 20px;
}

.informacion {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 400px;
    margin: 0 auto;
}


.informacion input{
    border-radius: 20px;
    outline: none;
    font-size: 12;
    border: 1px solid black;
    padding: 0 12px;
}

.informacion textarea{
    border-radius: 20px;
    outline: none;
    font-size: 12;
    border: 1px solid black;
    padding: 0 12px;
}



@media only screen and (max-width: 800px) {
    .navbar-mid,
    .navbar-left_icon {
        display: none;
    }
}

@media only screen and (max-width: 800px) {
    .container {
        padding: 8px;
    }

    .homepage {
        display: flex;
        flex-direction: column;
    }

    .cards {
        display: flex;
        flex-direction: column;
    }

    .info,
    .info-cards {
        display: flex;
        flex-direction: column;
    }

    .info__background-img {
        height: 60px;
        padding: 12px;
    }

    
}



/* footer */

.footer {
    padding: 32px 0px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

@media only screen and (max-width: 800px) {
    .footer {
        padding: 16px 0;
        font-size:12px;
    }
}


/* ham navbar */

.ham-menu {
    height: 32px;
    width: 32px;
    position: relative;
    padding: 0px 32px;
    z-index: 30;
}

.ham-menu.active {
    position: fixed;
    top: 24px;
}

.ham-menu span {
    height: 5px;
    width: 40px;
    background-color: var(--accent-200);
    border-radius: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.3s ease;
}

.ham-menu span:nth-child(1) {
    top: 25%;
}

.ham-menu span:nth-child(3){
    top: 75%;
}

.ham-menu.active span:nth-child(1) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}

.ham-menu.active span:nth-child(2) {
    opacity: 0;
}

.ham-menu.active span:nth-child(3) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}





/* navbar modal */
.navbar-modal__background {
    background-color: black;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.4s ease;
    z-index: 10;
}

.navbar-modal__background.show {
    pointer-events: unset;
    opacity: 0.5;
}

.navbar-modal__menu {
    background-color: white;
    padding: 60px 30px;
    z-index: 20;
    position: fixed;
    top: 0;
    bottom: 0;
    left: -100%;
    width: 60%;
    transition: left 0.4s ease;
}

.navbar-modal__menu.show-menu {
    left: 0;
}

.navbar-modal__items {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}

.navbar-modal__item {
    list-style: none;
    display: flex;
    cursor: pointer;
    padding: 4px 10px;
}

.navbar-modal__item:hover {
    border-radius: 20px;
    background-color: var(--color1);
    color: var(--White);
}

@media only screen and (min-width: 800px) {
    .navbar-modal__background,
    .navbar-modal__menu,
    .ham-menu  {
        display: none;
    }
}


/* listados */

.vertical-center {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

@media only screen and (max-width: 800px) {
    .hide-data {
        display: none;
    }
    .table {
        font-size: 10px;
    }
    .btn {
        padding: 4px 8px;
        font-size: 12px;
    }
}



/* apartado formulario */

.formularios {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 70vh;
    gap: 100px;
}


.dropdown-toggle {
    cursor: pointer;
}

.dropdown-menu {
    padding: 10px;
    width: 120px;
    border-radius: 10px;
    background-color: var(--White);
    border: 2px solid var(--color3);
    position: absolute;
    bottom: -70px;
    right: 0;
    display: none;
    flex-direction: column;
    gap: 10px;
    cursor: default;
}

.dropdown-menu li {
    display: block;
    list-style: none;
    right: 0;
}

.dropdown-item {
    text-decoration: none;
}

.show-toggle {
    display: flex;
}

.navbar__user-name {
    position: relative;
}

.dropdown-menu {
    padding: 10px;
    width: 120px;
    border-radius: 10px;
    background-color: white;
    border: 2px solid black;
    position: absolute;
    bottom: -80px;
    right: 0;
    flex-direction: column;
    gap: 10px;
    cursor: default;
}

.dropdown-menu li {
    list-style: none;
    right: 0;
}

.cuenta-formulario {
    min-width: 250px;
    max-width: 600px;
    display: grid;
    place-items: center;
    margin: 0 auto;
}

.borrar {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 70vh;
}

.regresar {
    display: flex;
    justify-content: flex-end;
}

@media only screen and (max-width: 800px) {
    .container-navbar {
        display: flex;
        flex-direction: column;
        justify-content: end;
        align-items: center;
        text-align: center;
    }

    body {
        background-image: url('../img/img.jpeg');
        background-size: 50vh;
    }
}

